vendor/*
tmp/*
!tmp/.tmp
manuais
.idea
config/PNCP/.env
.vscode
.history
.editorconfig
config/sicom
config/PNCP/.env
imagens/files/
login_externo.php
legacy_config/preferencias.json
cache/*
updatedb/log/*
modification/*
*.zip
*.csv
updatedb/scripts*
libs/..cache/
integracao_externa/portal_transparencia/log/
integracao_externa/portal_transparencia/con4_portaltransparencia001_pmmontalvania.php
integracao_externa/portal_transparencia/db/sql_especifico/*
integracao_externa/portal_transparencia/db/sql_especifico*
*.IMPT
imagens/obras/*
!imagens/obras/obras.txt
anexos/*
.phpintel/
dbforms/db_classesgenericas_Ago21_09:44.php
integracao_externa/portal_transparencia/libs/config.ini
e-cidade.sublime-workspace
e-cidade.sublime-project
sftp-config.json
extension/modification/log/dbportal-v3-desktop
extension/log/*
extension/log/application.log
webservices/.requisicao.webservice.php.swp
integracao_externa/portal_transparencia/libs/db_config.ini
extension/modification/data/file/sync/user/*
extension/modification/data/cache/user/*
extension/modification/data/file/file-type-modification.data
extension/data/config.data
webservices/environments/
model/licitacao/PNCP/anexoslicitacao/*
model/licitacao/PNCP/arquivos/*
webservices/*.php
!webservices/requisicao.webservice.php
jobs/configuracoes/taskManager/fila/*.xml
cache/menus/*
cache/forms/*
cache/preferencias/*
config/apipcp/.env
node_modules
.env
phinx.yml
docker/db-data
extension/data/extension/Desktop.data
extension/modification/data/modification/dbportal-v3-desktop.data
docker/bd/pgsql
