.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cabecalho .logo {
  width: 100px;
}

.cabecalho .cliente {
  width: 500px;
  display: flex;
  justify-content: flex-start;
}


.cabecalho .info {
  width: 280px;
  padding: 1.3px;
}
