.cabecalho {
  height: 110px;
}

.cabecalho .logo {
  width: 110px;
  height: 110px;
}

.cabecalho .cliente {
  width: 320px;
  height: 110px;
  font-size: 10px;
}

.cabecalho .cliente h1 {
  font-size: 11px;
}

.cabecalho .info {
  width: 220px;
  height: 100px;
  padding: 5px;
}
