.bdtop {
    border-top: 1px solid #000;
}

.bdleft {
    border-left: 1px solid #000;
}

.bdright {
    border-right: 1px solid #000;
}

.bdbottom {
    border-bottom: 1px solid #000;
}

.bdredor {
    border: 1px solid #000;
}

table.waffle {
    width: 100%;
}

.box {
    background-color: #ebebeb;
    padding: 10px;
    font-size: 8px;
    border-radius: 15px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
